node_modules
.env*
!.env.example
coverage
coverage.json
typechain-types
yarn-error.log

# Hardhat files
artifacts/
hh-cache/

# venv
.venv/

# Foundry
cache
out

.DS_Store

# VScode
.vscode
!vscode/*.code-snippets
!.vscode/solidity.json

# log
*.log